*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 250px 100px;
    gap: 80px;
    flex-shrink: 0;
}

.top{
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.header{
    color: #f9faf8;
    font-size: 24px;
}

.right{
    display: flex;
    gap: 1rem;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.aboutus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
}

.textsection{
    flex: 1;
    text-wrap: wrap;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.maintitle{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.someText{
    font-size: 18px;
    color: #e5e7eb;
}

.signup button
{
    background-color: #3882f6;
    color: white;
    width: 80px;
    padding: 3px;
    border-radius: 5px;
    border: none
}

.logo{
    flex: 1;
}

.image{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 20px 350px  50px;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.content-heading{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.content-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
}

.box{
    border: 2px solid #3882f6;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    flex: 1;
}

.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 125px 350px;
    flex-shrink: 1;
}

.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    
}

.author{
    text-align: end;
    font-weight: bold;
}

.CTA-container{
    margin: 100px 250px ;
    padding: 35px 90px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #3882f6;
    flex: 1;
}

.CTA-heading{
    color: #f9faf8;
    font-size: 24px;
    text-align: start;
}

.CTA-container .action{
    display: flex;
    justify-content: space-between;
}

.CTA-text{
    font-size: 18px;
    color: #f9faf8;
}

.CTA-button{
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    color: #e5e7eb;
    background-color: #3882f6;
    width: 80px;
}

.footer{
    background-color: #1f2937;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}